/*********************************
Desenvolvedor: Thales de Azevedo Cardoso;
Data: 22/05/2020 10:35;
*********************************/


/* Limpando Formatação padrão */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e9e9e9;
}

/* Layout */

#area-cabecalho {
	background: #f7b600;
	text-align: center;
	padding: 15px;
}

#area-logo, #area-menu {
	padding: 10px;
}

/* Formatações em Geral */

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

a {
	text-decoration: none;
}

.branco {
	color: white;
}

/* Formatação do Menu */

a:link , a:visited {
	color:#FFF;
	padding: 8px 12px;
}

a:hover {
	color: #f7b600;
	background: #FFF;
}